configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-drun: "";
    display-run: "";
    display-window: "";
    drun-display-format: "{name}";
    placeholder: "Type to search...";
}

@theme "catppuccin-macchiato"
